Кейс 1. Введение в SQL и базы данных

ЗАДАНИЕ:

Подключиться к базе данных с использованием рассмотренных на уроке параметров и Jupyter Notebook.
Просмотреть содержимое 10 записей из таблиц characters, dungeon_log, pvp_log. Сделать краткие выводы о содержании таблиц. Предположить, игры какого жанра могут содержать такие данные.
Запросы оформить в виде блокнота в Jupyter Notebook.

In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\4dani\anaconda3\lib\site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
HOST = '37.139.42.145'
DBNAME = 'game-analytics'
USER = 'analytics'
PASSWORD = 'BRtTaqYiJyr29WXN'

from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{USER}:{PASSWORD}@{HOST}/{DBNAME}')

In [3]:
import pandas as pd
import matplotlib

df = pd.read_sql(f'''
SELECT * FROM gu_game_analytics_1188.characters LIMIT 10
''', con=engine)
df

        id  accountid charclass charrace  charlevel
0  2889047  461209664   Warrior      Elf         44
1  4700139  461209664      Bard      Orc          3
2  2872086  461306388   Warrior    Dwarf         55
3  2865452  461306607      Bard      Orc         43
4  3833202  461306607      Mage    Dwarf         55
5  4264624  461306607      Bard    Human         43
6  4518814  461306607    Archer    Human         43
7  4853957  461306607   Assasin    Human         43
8  4867728  461306607      Mage    Human         43
9  4890468  461306607   Assasin    Human         43

Есть айди у каждого персонажа, айди акка, кому он принадлежит, инфа о классе, рассе и лвл.

In [4]:
df = pd.read_sql(f'''
SELECT * FROM gu_game_analytics_1188.dungeon_log LIMIT 10
''', con=engine)
df

,time,charid,charlevel,actiontype,actionname,result
0,2018-08-13 23:03:17.592,4654858,48,Dungeon,Консерватория грифонов,SUCCESS
1,2018-08-13 23:12:51.239,4654858,48,Dungeon,Консерватория грифонов,SUCCESS
2,2018-08-15 17:09:32.922,4654858,48,Dungeon,Консерватория грифонов,SUCCESS
3,2018-08-15 17:00:12.300,4654858,48,Dungeon,Консерватория грифонов,SUCCESS
4,2018-08-20 18:00:09.290,4884617,48,Dungeon,Консерватория грифонов,SUCCESS
5,2018-08-27 15:54:42.025,4884617,48,Dungeon,Консерватория грифонов,SUCCESS
6,2018-08-27 15:43:28.986,4884617,48,Dungeon,Консерватория грифонов,SUCCESS
7,2018-08-20 18:22:44.113,4884617,48,Dungeon,Консерватория грифонов,SUCCESS
8,2018-08-05 00:20:27.758,5282738,52,Dungeon,Консерватория грифонов,SUCCESS
9,2018-08-05 00:12:06.752,5282738,52,Dungeon,Консерватория грифонов,SUCCESS

In [ ]:
ну тут видимо инфа о подземельях, какой герой, какого лвла, и во скок попытался его пройти.

In [5]:
df = pd.read_sql(f'''
SELECT * FROM gu_game_analytics_1188.pvp_log LIMIT 10
''', con=engine)
df

,time,charid,charlevel,actiondata
0,2018-08-08 21:59:36.211,4600836,55,"{""ActionType"":""PvP"",""ActionName"":""QuickMatch,""..."
1,2018-08-01 04:27:57.374,4600836,53,"{""ActionType"":""PvP"",""ActionName"":""QuickMatch,""..."
2,2018-08-02 00:19:36.039,4600836,53,"{""ActionType"":""PvP"",""ActionName"":""QuickMatch,""..."
3,2018-08-12 17:37:45.471,4600836,55,"{""ActionType"":""PvP"",""ActionName"":""QuickMatch,""..."
4,2018-08-03 00:36:42.751,4600836,54,"{""ActionType"":""PvP"",""ActionName"":""QuickMatch,""..."
5,2018-08-11 19:40:30.541,4600836,55,"{""ActionType"":""PvP"",""ActionName"":""QuickMatch,""..."
6,2018-08-10 00:00:37.337,4600836,55,"{""ActionType"":""PvP"",""ActionName"":""QuickMatch,""..."
7,2018-08-12 00:11:07.436,4600836,55,"{""ActionType"":""PvP"",""ActionName"":""QuickMatch,""..."
8,2018-08-15 01:10:24.575,4600836,55,"{""ActionType"":""PvP"",""ActionName"":""QuickMatch,""..."
9,2018-08-11 23:06:06.781,4600836,55,"{""ActionType"":""PvP"",""ActionName"":""QuickMatch,""..."

тут инфа про пвп активности определенного персонажа

Очевидно, это данные ММОРПГ игры, где есть подземелья ( ПВЕ ) и сражения с игроками ( ПВП )